* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Harry Potter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Harry Potter Regular"),
    url("/font/harry-potter-cufonfonts-webfont/HARRP___.woff") format("woff");
}

body {
  /* background-image: url(/images/level-page/choose-level.jpg); */
  /* background-size: cover; */
  background-color: chocolate;
  color: rgba(30, 97, 147, 0.9);
  opacity: 0;
  transition-delay: 0.5s;
}
nav {
  /* background-color: rgba(250, 250, 250, 0.3); */
  /* padding: 5px; */
  /* height: 90px; */
}
ul {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  align-content: center;
  align-items: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgba(30, 97, 147, 0.9);
}
#heading {
  padding-top: 70px;
  text-align: center;
}
h1 {
  padding-top: 10px;
}
.intro {
  padding-top: 30px;
}
#several-levels {
  padding-top: 110px;
  display: flex;
  justify-content: center;
}
.level {
  text-decoration: none;
}
li {
  list-style: none;
  padding: 30px;
}
ul {
  display: flex;
}
#a-level {
  display: flex;
  align-items: center;
  align-content: center;
}
button {
  /* background-color: white; */
  border: none;
  /* color: rgb(250, 197, 33); */
  padding: 25px 50px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.9;
  transition: 0.3s;
  cursor: pointer;
}
.one {
  background-color: rgba(95, 93, 88, 0.9);
  border: none;
  color: rgb(242, 197, 51);
}
.two {
  background-color: rgba(30, 97, 147, 0.9);
  border: none;
  color: white;
}
.three {
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  color: white;
}
.four {
  background-color: rgba(196, 17, 17, 0.4);
  border: none;
  color: rgb(250, 197, 33);
}

.pulse {
  animation: infinite;
  animation-duration: 1s;
  animation-delay: 0.5s;
  padding-top: 20px;
  z-index: 3;
}
.tada {
  /* animation: infinite; */
  animation-duration: 1.9s;
  animation-delay: 0s;
  padding-top: 20px;
  z-index: 3;
}
