* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
ul {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(250, 197, 33);
}
@font-face {
  font-family: "Harry Potter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Harry Potter Regular"),
    url("/font/harry-potter-cufonfonts-webfont/HARRP___.woff") format("woff");
}
body {
  background-image: url(/images/homepage/wallpaper-red.jpg);
  background-size: cover;
  opacity: 0;
  transition-delay: 0.5s;
}

#heading {
  padding-top: 60px;
  text-align: center;
  color: rgb(250, 197, 33);
}
.bg-heading {
  /* background-color: white; */
  /* opacity: 0.8; */
  margin: 0 auto;
  padding: 10px 40px;
  display: inline-block;
}
h1 {
  padding-bottom: 50px;
}
#button {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 150px;
}
button {
  background-color: rgba(40, 59, 11, 0.9);
  border: none;
  color: rgb(250, 197, 33);
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}
button:hover {
  opacity: 1;
}
.flipInX {
  animation-duration: 3s;
  animation-delay: 0.5s;
}
.shake {
  animation: infinite;
  animation-duration: 1s;
  animation-delay: 0.5s;
}
